
%default-checkbox {
    appearance: none;
    border: 1px solid $border-blue;
    width: 16px;
    height: 16px;
}
%checked-checkbox {
    @extend %default-checkbox;
    background-color: $border-blue;
}
%disabled-checkbox {
    border: 1px solid $disabled-text;
    width: 16px;
    height: 16px;   
}
%default-radio {
    appearance: none;
    outline: none;
    border-radius: 8px;
    border: 1px solid $border-blue;
    width: 16px;
    height: 16px;
    padding: 2px;

}
%checked-radio {
    @extend %default-radio;
    background-clip: content-box;
    background-color: $border-blue;
}
%disabled-radio {
    border: 1px solid $disabled-text; 
}
